<div class="todo-container">
    <div class="todo-main">
      <div class="left-section">
        <h2>Lista de Tareas</h2>
  
        <div class="input-container">
          <input 
            type="text" 
            [(ngModel)]="newTask" 
            placeholder="Agregar nueva tarea" 
            (keyup.enter)="addTask()" 
          />
          <button (click)="addTask()">Agregar</button>
        </div>

        <ul>
          <li *ngFor="let task of filteredTasks">
            <input 
              type="checkbox" 
              [(ngModel)]="task.completed" 
              (change)="updateFilter()" 
            />
            <span [class.completed]="task.completed">{{ task.text }}</span>
            <button (click)="deleteTask(task)">Eliminar</button>
          </li>
        </ul>
      </div>
  
      <div class="right-section">
        <!-- Tarjeta de tareas pendientes -->
        <div class="card">
          <h3>Tareas Pendientes</h3>
          <ul>
            <li *ngFor="let task of pendingTasks">
              <span>{{ task.text }}</span>
            </li>
          </ul>
        </div>
  
        <!-- Tarjeta de tareas completadas -->
        <div class="card">
          <h3>Tareas Completadas</h3>
          <ul>
            <li *ngFor="let task of completedTasks">
              <span>{{ task.text }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>