.todo-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
  
.todo-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
  
.left-section {
    flex: 1; /* Toma toda la columna izquierda */
    margin-right: 20px;
}
  
.right-section {
    flex: 0.4; /* Toma un 40% del ancho para las tarjetas */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.input-container {
    display: flex;
    margin-bottom: 10px;
}
  
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-right: 8px;
}
  
button {
    padding: 8px 12px;
    cursor: pointer;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
  
.completed {
    text-decoration: line-through;
    color: gray;
}
  

.card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.card h3 {
    margin-top: 0;
}
  
.card ul {
    margin-top: 10px;
    padding-left: 20px;
}
  
.card li {
    margin: 5px 0;
    color: #555;
}